.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 5rem;
    margin-top: 40px;
    background: #ac1500;
    color: white;
    font-size: 12px;
  }
  
  .footer p {
    margin: 0px;
    padding: 0px;
  }