.projects {
    padding: 1rem 5rem;
  }
  
  .project-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .projects h2 {
    margin: 0px;
    font-size: 64px;
  }
  
  .project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 72vw;
    overflow-x: scroll;
    margin-top: 40px;
    padding: 20px;
  }
  
  .project-img {
    border: 1px solid #ac1500;
    box-sizing: border-box;
    border-radius: 16px;
    height: 400px;
    margin-right: 20px;
  }
  
  .scroll-buttons {
    margin: 20px;
    height: 180px;
    width: auto;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.12);
  }
  .list-control {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }